:root {
    --Background: white;
    --primary: black;
    --secondary:  rgb(214, 211, 211);
}

*{
    box-sizing: border-box;
}

/* NEED- add filter to BG image */
body {
background-color: var(--Background);
color: var(--primary);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
width: 100%;
height: 100vh;
background-image: url(../images/pexels-adrien-olichon-3137068.jpg);
background-size: cover;
background-repeat: no-repeat;
padding-top: 1400px;

}


/* removes link decorations */
a {
    text-decoration: none;
    color: var(--primary);
}

/* this is flex container for nav */

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: baseline;
    position: fixed;
    top: 0;
    left: 0;
}


#logo {
    font-size: 40px;
    padding: 10px;
    margin-left: 40px;
    letter-spacing: 10;
    margin-top: 15px;
    /* flex: 1 1 auto */
}

nav{
    flex: 1 1 auto;
    text-align: right;
}

nav a {
    padding: 0 20px;
    font-size: 20px;
    text-shadow:2px 2px 2px #fff, 4px 4px 1px #ccc;
}

.glow{
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
    from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

/* Start About Me */



#aboutme {
    width: 400px;
    letter-spacing: .2rem;
    margin-left: 50px;
    margin-bottom: 140px;
    line-height: 2;
    position: absolute;
    bottom: -30px;

}


/* card section */

/* This is the flex container for the cards */

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cardholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}


#primarycard, #primarycard img {
    height: 600px;
    width: 600px;
    text-align: center;
    /* background-color: aliceblue; */
    /* margin: auto; */
    margin: 10px;
    border-radius: 8px;
    /* flex: 0 0 75%; */
    border: 1px solid var(--primary);
    overflow: hidden;
    background: linear-gradient (rgb(198, 194, 194,.8), rgb(192,72,72,0.5)), url(../images/Horiseon_SS.png);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( rgb(198, 194, 194,.8), rgb(192,72,72,0.5)), url(../images/Horiseon_SS.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
}


#Horiseon h2 {
    font-size: 40px;
}


#Horiseon{
    border: 1px solid black;
    width: 200px;
    margin: 20px 0;
    position: relative;
    bottom: -400px;
    left: 10px;
    background-color: rgb(15, 15, 15, .5);
    border-radius: 8px;
}

#Horiseon h2 , #Horiseon p {
    margin: 10px;
} 

.secondarycard {
    /* flex: 0 0 48%; */
    height: 400px;
    width: 400px;
    background-color: blanchedalmond;
    /* margin: auto; */
    margin: 40px 10px;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid var(--primary);
    overflow: hidden;
    background: linear-gradient (rgb(198, 194, 194,.8), rgb(192,72,72,0.5)), url(../images/pexels-dominika-roseclay-912413.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( rgb(198, 194, 194,.8), rgb(192,72,72,0.5)), url(../images/pexels-dominika-roseclay-912413.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
}

.headshotHolder{
    display: flex;
    justify-content: center;
    margin-bottom: 400px;
}

#headshot {
    height: 500px;
    width: 600px;
    object-fit: scale-down;
    /* margin: auto; */
    border: 2px solid black;
    text-align: center;

}




/* Start Footer */

footer {
    display: flex;
    border: 1px solid var(--secondary);
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

footer h2, footer p {
    margin: 20px;

}


/* media Screen adjustments */

@media screen and (max-width: 768px) {

    body {
        background-image: none;
    }

    header {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, .3);
        height: 120px;
    }

}

@media screen and (max-width: 400px){
    footer {
        display: block;
        position: relative;
        font-size: 35px;
}
    #aboutme {
        margin-bottom: 0;
        top: 400px;
        font-size: 30px;
    }
    nav a {
        text-shadow: none;
        font-size: 30px;
    }
    nav {
        margin-top: 10px;
    }
}

