:root {
    --Background: white;
    --primary: black;
    --secondary:  rgb(214, 211, 211);
}

*{
    box-sizing: border-box;
}

body {
background-color: var(--Background);
color: var(--primary);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
/* width: 100vh; */
height: 100vh;
background-image: url(../images/pexels-adrien-olichon-3137068.jpg);
background-size: cover;

}


/* removes link decorations */
a {
    text-decoration: none;
    color: var(--primary);
}

/* this is flex container for nav */
/* want only space between logo and .navlinks to shrink */
header {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    height: 100px;
    align-items: baseline;
}

/* get letter spacing to work */
#logo {
    font-size: 40px;
    padding: 10px;
    margin-left: 40px;
    letter-spacing: 10;
    margin-top: 15px;
    /* flex: 1 1 auto */
}

nav{
    flex: 1 1 auto;
    text-align: right;
}

nav a {
    padding: 0 20px;
    font-size: 20px;
    /* text-shadow : horizontal-shadow vertical-shadow blur var(--secondary),horizontal-shadow vertical-shadow blur var(--secondary),horizontal-shadow vertical-shadow blur var(--secondary),horizontal-shadow vertical-shadow blur var(--secondary); */
    text-shadow:2px 2px 1px #fff, 4px 4px 1px #ccc;
}

.glow{
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
/* Start About Me */


/* need to be in bottom left. does not shrink or grow */
/* can put letter spacing? */
#aboutme {
    width: 400px;
    letter-spacing: .2rem;
    margin-left: 50px;
    margin-bottom: 140px;
    line-height: 2;
    position: absolute;
    bottom: 0;

}


/* card section */

/* This is the flex container for the cards */

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


#primarycard, .secondarycard  {
    height: 400px;
    /* width: 400px; */
    background-color: aliceblue;
    /* margin: auto; */
    padding: 10px;
    border-radius: 8px;
    flex: 0 0 400px;
    border: 1px solid var(--primary);

}

.secondarycard {
    /* flex: 0 0 100px%; */
    /* height: 35vh;
    width: 35vh; */
    /* background-color: blanchedalmond;
    margin: auto;
    padding: 10px;
    justify-content: space-between;
    border-radius: 8px;
    flex: 0 0 400px; */
}






/* Start Footer */

footer {
    display: flex;
    border: 1px solid var(--secondary);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer h2, footer p {
    margin: 20px;

}


